<div class="w-full h-15 shadow flex">
    <div class="w-4/5 h-full flex">
        <div class="w-1/4 h-full text-center content-center text-3xl">QLSV</div>
        <div class="w-3/4 flex items-center h-full gap-x-10">
            <div class="relative h-full group flex gap-2 items-center p-5">
                <span>Quản lý</span>
                <img class="size-5" src="/down-arrow.png" alt="">
                <div class="absolute left-0 top-full z-20 hidden min-w-30 group-hover:block shadow">
                    <a routerLink="/manage/student" class="block hover:bg-gray-100 p-2 cursor-pointer">Sinh Viên</a>
                    <a class="block hover:bg-gray-100 p-2  cursor-pointer">Học Phần</a>
                    <a class="block hover:bg-gray-100 p-2  cursor-pointer">Thời khóa biểu</a>
                </div>
            </div>
            <span>Học Phần</span>
            <span>Thời Khóa Biểu</span>
        </div>
    </div>
    <div class="w-1/5 items-center flex gap-10 justify-center">
            <img class="size-6" src="/notification.png" alt="Thông báo">
            <div class="flex items-center gap-4 p-2 rounded-xl">
                <div class="bg-amber-200 rounded-full size-7"></div>
                <img class="size-6" src="/menu.png" alt="">
            </div>
    </div>
</div>