<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/output.css}">
</head>
<body class="h-screen">
    <h1 Class="w-4/5 pl-40 text-2xl p-4 font-bold">Bảng Sinh Viên</h1>
    <div class="w-full p-2 justify-items-center">
        <!-- Khai báo tổng 12 cột ở thẻ cha -->
<div class="w-4/5 border border-gray-300 grid grid-cols-12 text-left rounded-xl">
    
    <!-- Header -->
    <div class="col-span-12 grid grid-cols-12 font-bold bg-gray-100 border-b border-gray-300">
        <div class="col-span-1 p-2 border-r border-gray-300">ID</div>          <!-- Chiếm 1/12 -->
        <div class="col-span-3 p-2 border-r border-gray-300">Họ tên</div>      <!-- Chiếm 3/12 -->
        <div class="col-span-2 p-2 border-r border-gray-300">Tuổi</div>        <!-- Chiếm 2/12 -->
        <div class="col-span-2 p-2 border-r border-gray-300">Giới tính</div>   <!-- Chiếm 2/12 -->
        <div class="col-span-4 p-2">Email</div>                               <!-- Chiếm 4/12 -->
    </div>

    <!-- Body Rows -->
    <div th:each="sv : ${students}" class="col-span-12 grid grid-cols-12 border-b border-gray-200 last:border-b-0">
        <div class="col-span-1 p-2 border-r border-gray-200" th:text="${sv.id}"></div>
        <div class="col-span-3 p-2 border-r border-gray-200" th:text="${sv.name}"></div>
        <div class="col-span-2 p-2 border-r border-gray-200" th:text="${sv.age}"></div>
        <div class="col-span-2 p-2 border-r border-gray-200" th:text="${sv.sex ? 'Nam' : 'Nữ'}"></div>
        <div class="col-span-4 p-2" th:text="${sv.email}"></div>
    </div>

</div>
    </div>
</body>
</html>